* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 35px;
  /* background-color: #f4e4c9;  */
  transition: background-color 1s ease-in-out;
}

/* #f4e4c9 #fffcf7*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(51, 51, 66);
  
  color: white;
  font-size: 20px
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.main-tabs {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
}

.page-styling {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 20px 0px;
}

.sub-page-styling {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 20px;
}

.contact-link-styling {
  text-decoration: none;
  color: #a35fe6;
  display: inline-block;
  width: fit-content;
}

.contact-link-styling:hover {
  text-decoration: none;
  cursor: pointer;
  font-size: 115%;
  color: #a360e5;
  display: inline-block;
  width: fit-content;
}

.main-heading {
  font-size: 3rem;
  font-weight: bold;
  /* text-decoration: underline; */
  font-family: 'IBM Plex Serif', serif;
}

.main-sub-heading {

}

.wtr-heading-styling {
  font-weight: bold;
  font-style: italic;
  color: #f5a4a4;
  padding: 15px 0 5px 0;
}

.card-styling {
  border-radius: 0px !important;
  background-color: #fff5f5 !important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 0%), 0px 1px 1px 0px rgb(0 0 0 / 0%), 0px 1px 3px 0px rgb(0 0 0 / 8%) !important;
  /* min-width: 30rem; */
  max-width: 27rem;
  /* min-height: 18.5rem; */
  max-height: 18.5rem;
  margin: 10px 10px 10px 10px;
  position: relative;
  top: 0;
  transition: top ease 0.5s !important;
}

.card-styling-design {
  border-radius: 0px !important;
  background-color: #65635f !important;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 0%), 0px 1px 1px 0px rgb(0 0 0 / 0%), 0px 1px 3px 0px rgb(0 0 0 / 8%) !important;
  /* min-width: 30rem; */
  max-width: 27rem;
  /* min-height: 18.5rem; */
  margin: 10px 10px 10px 10px;
  position: relative;
  top: 0;
  transition: top ease 0.5s !important;
}

.card-styling:hover {
  top: -10px;
  cursor: pointer;
}

.card-box-styling {
  
}

.card-box-styling:hover {
  
}

.project-github-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #e6695f
}



.card-img-styling {
  display: inline-block;
  /* min-width: 28rem; */
  max-width: 100%;
}

.card-content-styling {
  font-size: 1rem;
  font-weight: bold;
  color: #cd3434;
}

.Design {
  background-color: black;
  color: white;
}

hr.design-line {
  display: block;
  border: 2px solid #FFE24D !important;
  margin: 1em 0;
  padding: 0;
}

hr.project-line {
  display: block;
  border: 2px solid #e6695f !important;
  margin: 1em 0;
  padding: 0;
}

.icon-design:hover {
  cursor: pointer;
}


@media (max-width: 954px) {
  .card-view {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 955px) {
  .card-view {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (max-width: 800px) {
  /* centered */
  .home-page-sub-heading {
    margin: 20px 0 10px 0;
    color: #6c83ea;
    text-align: center;
  }

  #home-page-icons {
    color: #abb9f4;
    display: flex;
    margin: 10px 0 25px 0;
    font-size: 0.9em;
    justify-content: center;
  }

  #sub-text {
    font-size: 22px;
  }

  .home-page-sub-image {
    margin-bottom: 50px;
  }
  
}

@media (min-width: 801px) {
  /* 50-50 */
  .home-page-sub-heading {
    margin: 20px 0 10px 0;
    color: #6c83ea;
    width: 50%;
  }

  #home-page-icons {
    color: #abb9f4;
    display: flex;
    margin: 10px 0 25px 0;
    font-size: 0.9em;
  }

  #sub-text {
    font-size: 22px; 
    margin: 0 20px 0 0;
  }

  .home-page-sub-image {
    width: 50%;
    margin-bottom: 50px;
  }
  
}

/* #home-page {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 80vh;
} */